<p style="color: green"><%= notice %></p>

<%= render @panda %>

<div>
  <%= link_to "Edit this panda", edit_panda_path(@panda), class: "btn btn-warning" %> |
  <%= link_to "Back to pandas", pandas_path, class: "btn btn-dark" %>

  <%= button_to "Delete this panda", @panda, method: :delete, class: "btn btn-danger" %>
</div>
